@use '@angular/material' as mat;

// Dark theme
$dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  ),
));

html {
  @include mat.all-component-themes($dark-theme);
  @include mat.color-variants-backwards-compatibility($dark-theme);
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #1e1e1e;
  color: #d4d4d4;
}

// Custom scrollbar
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
  background: #424242;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #616161;
}

// Angular Material customizations
.mat-mdc-dialog-container {
  --mdc-dialog-container-color: #2d2d2d;
}

.mat-mdc-menu-panel {
  background: #2d2d2d !important;
}

.mat-mdc-option {
  color: #d4d4d4;
}

.mat-mdc-form-field {
  --mdc-filled-text-field-container-color: #333;
  --mdc-outlined-text-field-outline-color: #424242;
}
